   
.image-container {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(164.26deg, #D5E6FF -0.3%, #FFFFFF 31.71%, #FFFFFF 62.19%, #C9DEFF 97.25%);
    // border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-container img{
    display:flex;
    justify-content: center;
    align-items: centre;
 // width: 93.18px;
 // height: 150px;
    margin-top:50% ;
//  margin-left:5%;


}

.image-container .G_icon{
    display:flex;
    justify-content: center;
    align-items: centre;
    margin-top:5%;


}
.image-container .google{

// width: 50%;
// height: 20px;
display:flex;
justify-content: center;
align-items: centre;
margin-top:40%;


// margin-left: 10%;
font-family: NATS;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #1540BD;

}